duckdb
pandas
numpy   
streamlit
sqlalchemy  
databricks-sql-connector 
sqlparse
databricks-sdk
streamlit-authenticator
python-dotenv
langchain==0.1.152
langchain-community
langchain-openai
langchain-core
huggingface_hub
torch
transformers
google-generativeai
langchain_google_genai
scikit-learn
plotly
